@import './shared/variables.scss';
@import './src/app/home/home.scss';
@import './src/app/products/products.scss';
@import './src/app/login/login.scss';
@import './src/app/signup/signup.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #ffffff;
  color: black;
  font-family: 'Dosis', 'Arial', 'sans-serif';
  font-size: 20px;
  font-weight: 300;
}

/****** Header *****/

header {
  box-shadow: 0px 8px 6px $color-grey-light;
  color: $color-font;
  font-weight: 600;

  .navigation {
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 5rem;
    align-items: center;
    margin: auto 6rem;

    a {
      text-decoration: none;
      color: inherit;
    }
    
    .logo {
      height: 3.25rem;
      cursor: pointer;
    }

    .navbar {
      display: flex;
      flex: 0 0 55%;

      a { font-size: 85%; }

      a:first-child { margin-right: 2rem }
      a:first-child,
      a:last-child
      {
        margin-top: 2rem;
      }
    }

    .action-buttons {
      position: absolute;
      right: 0;
      top: 0.25rem;
      font-size: 70%;
      .btn-signin { padding-right: 6px; }
    }

    .cart {
      display: flex;
      align-items: center;
      // TODO: change it to flex: grow shrink basis
      padding: 0.5rem;
      margin-top: 2rem;
      width: 6rem;
      background-color: $color-grey-light;
      .cart-icon {
        fill: $color-theme;
        height: 2rem;
        width: 2rem;
      }
      .items-in-cart,
      .items-text { font-size: 80%; }
      .sidenav { display: none; }
    }
  }

  .right-nav,
  .drawer-nav { display: none; }
}

/******  Footer *****/
footer {
  background-color: $color-grey-light;
  color: black;
  padding: 30px;
  font-size: 80%;
  text-align: center;
}

@media only screen and (max-width: 1024px) {
  header {
    .navigation {
      margin: 0;
      .navbar { flex: 0 0 40%;}
      .action-buttons { right: 10px; }

    }
  }

  .home-container {
    margin: 0;
    margin-top: 2rem;
  }

  .products-container {
    margin: 0;
    margin-top: 20px;
    .products-showcase {
      li {
        width: 50%;
        .product-box {
          display: flex;
          .product-photo, p {
            flex-basis: 50%;
            img { max-width: 100%; }
          }
        }
      }
      .mrp-buy-wrapper {
        span { display: none; }
        .btn-buy-now { width: 100%; }
        .btn-buy-now::after {
          content: attr(data-mrp)
        }
      }
    }
  }

  .product-detail {
    margin-left: 15px;
    margin-right: 15px;
  }

  .login-container,
  .signup-container {
    margin: 4rem 2rem;
  }
}

@media only screen and (max-width: 480px) {
  header {
    .navigation {
      height: 4rem;
      .navbar,
      .action-buttons,
      .items-text { display: none; }
      .cart {
        margin-top: 0;
        align-self: stretch;
        position: relative;
        width: 4rem;
        .sidenav { display: block; }
        .items-in-cart {
          font-size: 0.8rem;
          height: 1rem;
          width: 1rem;
          border-radius: 50%;
          background-color: white;
          text-align: center;
          position: absolute;
          right: 30px;
          top: 15px;
        }
      }
    }
    .right-nav { display: block; }
    .drawer-nav
    {
      position: relative;
      a {
        text-decoration: none;
        color: $color-theme;
        text-align: center;
        border-bottom: 1px solid #787677;
        padding: 10px 0;
        font-size: 70%;
        background-color: $color-grey-light;
      }
      .cross-icon {
        font-size: 150%;
        position: absolute;
        right: 10px;
        top: -10px;
      }
      :nth-child(1) {
        padding: 0;
        border-bottom: none;
      }
    }
  }

  .slideshow-container {
    .prev, .next,.text { font-size: 11px }
  }

  .products-container {
    flex-direction: column;
    .sidebar { display: none; }
    .topbar {
      display: block;
      .navbar {
        min-width: 100%;
        min-height: 50px;
        border: none;
        font-size: 100%;
        font-family: inherit;
        padding: 10px;
        .nav-item {
          background-color: #fff;
          color: #000;
        }
      }
      .navbar.selected {
        background-color: $color-theme;
        color: #fff;
      }
      .nav-item-link:link,
      .nav-item-link:visited {
        background-color: #fff;
        color: $color-theme;
      }
      .nav-item-link:hover,
      .nav-item-link:active {
        background-color: $color-theme;
        color: #fff;
      }
    }

    .products-showcase li {
      width: 100%;
    }
    .mrp-buy-wrapper {
      span { display: none; }
      .btn-buy-now { width: 100%; }
      .btn-buy-now::after {
        content: attr(data-mrp)
      }
    }
  }

  .login-container,
  .signup-container {
    flex-direction: column;
    margin: 4rem 2rem;
  }
}