.navigation {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 5rem;
  align-items: center;
  margin: auto 6rem;

  a {
    text-decoration: none;
    color: inherit;
  }
  
  .logo {
    height: 3.25rem;
    cursor: pointer;
  }

  .navbar {
    display: flex;
    flex: 0 0 55%;

    a { font-size: 85%; }

    a:first-child { margin-right: 2rem }
    a:first-child,
    a:last-child
    {
      margin-top: 2rem;
    }
  }

  .nav-action {
    position: absolute;
    right: 0;
    top: 0.25rem;
    font-size: 70%;
    .nav-signin { padding-right: 6px; }
  }

  .cart {
    display: flex;
    align-items: center;
    // TODO: change it to flex: grow shrink basis
    padding: 0.5rem;
    margin-top: 2rem;
    width: 6rem;
    background-color: $color-grey-light;

    .cart-link {
      display: flex;
      align-items: center;
    }

    .cart-icon {
      fill: $color-theme;
      height: 2rem;
      width: 2rem;
    }

    .items-in-cart,
    .items-text { font-size: 80%; }

    .sidenav { display: none; }
  }
}

.btn-hamburger,
.drawer-nav { display: none; }

.nav-open {
  display: flex;
  flex-direction: column;
}
