<nav class="navigation">
  <img src="images/logo.png" alt="Sabka Bazar logo" class="logo">
  <div class="navbar">
    <a href="/#/" class="nav-home">Home</a>
    <a href="/#/products" class="nav-product">Products</a>
  </div>
  <div class="action-buttons">
    <a href="/#/login" class="btn-signin">SignIn</a>
    <a href="/#/signup" class="btn-register">Register</a>
  </div>
  <div class="cart">
    <a href="#" class="cart-link">
      <img class="cart-icon" src="images/cart.svg">
      <span class="items-in-cart">0</span>
      <span class="items-text">&nbsp;items</span>
    </a>
    <button type="button" class="btn btn-hamburger">&#9776;</button>
  </div>
</nav>
<nav>
  <div class="drawer-nav" id="drawer">
    <a href="#" class="nav-home">Home</a>
    <a href="#" class="nav-product">Products</a>
    <a href="#" class="btn-signin">SignIn</a>
    <a href="#" class="btn-register">SignUp</a>
  </div>
</nav>