.home-container {
  margin: 0 8rem;
  margin-top: 2rem; }

.mySlides {
  display: none; }

img {
  vertical-align: middle; }

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  box-shadow: 0 2px 2px #efefef; }

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none; }

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px; }

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8); }

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center; }

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0; }

/* The dots/bullets/indicators */
.dots-container {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -75%); }

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease; }

.active, .dot:hover {
  background-color: #717171; }

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s; }

@-webkit-keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

@keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next, .text {
    font-size: 11px; } }

.products-listing {
  list-style: none; }
  .products-listing .products-category {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    margin: 0.5rem 0;
    padding: 0.4rem 0;
    box-shadow: 0 2px 2px #eee; }
    .products-listing .products-category .category img {
      height: 10rem; }
  .products-listing .btn-explore-category {
    background-color: #bf2957;
    display: inline-block;
    padding: 0.62rem;
    font-weight: 200;
    text-decoration: none;
    color: #fff;
    font-size: 65%; }
  .products-listing .product-detail {
    text-align: center; }
    .products-listing .product-detail > * {
      margin: 0.5rem 0;
      font-size: 75%; }

.content-container {
  display: flex;
  margin: 0 6rem; }

.sidebar {
  background-color: #eee; }
  .sidebar .side-nav {
    font-size: 80%;
    list-style: none; }
    .sidebar .side-nav .side-nav-item {
      columns: #777;
      border-bottom: 1px solid #777; }
    .sidebar .side-nav .side-nav-link:link,
    .sidebar .side-nav .side-nav-link:visited {
      padding: 10px 20px;
      text-decoration: none;
      color: #777;
      display: block; }
    .sidebar .side-nav .side-nav-link:hover,
    .sidebar .side-nav .side-nav-link:active {
      width: 100%;
      color: #ffffff;
      background-color: #777; }

.products-container {
  flex: 1;
  height: 80rem; }
  .products-container .products-showcase {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 10%;
    list-style: none;
    width: 100%; }
    .products-container .products-showcase li {
      width: 25%;
      padding: 20px;
      padding-bottom: 10px;
      box-shadow: 0px 8px 6px #eee; }
    .products-container .products-showcase p {
      font-size: 80%;
      padding: 5px;
      background-color: #eee; }
    .products-container .products-showcase .product-photo {
      display: flex;
      justify-content: center; }
    .products-container .products-showcase img {
      width: 70%;
      height: 100%; }
    .products-container .products-showcase .mrp-buy-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 75%;
      padding-top: 10px; }
      .products-container .products-showcase .mrp-buy-wrapper .btn-buy-now {
        background-color: #bf2957;
        display: inline-block;
        padding: 0.5rem;
        font-weight: 200;
        text-decoration: none;
        color: #fff;
        font-size: 80%;
        text-align: center;
        width: 50%; }

input {
  outline: none;
  border: none; }

input:focus {
  border-color: transparent !important; }

.login-container {
  display: flex;
  justify-content: space-around;
  margin: 6rem 12rem; }
  .login-container .login-text-box > * {
    margin-bottom: 1rem; }

/*------------------------------------------------------------------
[ Form ]*/
.login-form {
  width: 50%; }

/*------------------------------------------------------------------
[ Input ]*/
.wrap-input100 {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #adadad;
  margin-bottom: 37px; }

.input100 {
  font-size: 15px;
  color: #555555;
  line-height: 1.2;
  display: block;
  width: 100%;
  height: 45px;
  background: transparent;
  padding: 0 5px; }

/*---------------------------------------------*/
.focus-input100 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none; }

.focus-input100::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  background: #50dae5;
  background: -webkit-linear-gradient(left, #50dae5);
  background: -o-linear-gradient(left, #50dae5);
  background: -moz-linear-gradient(left, #50dae5);
  background: linear-gradient(left, #50dae5); }

.focus-input100::after {
  font-size: 15px;
  color: #999999;
  line-height: 1.2;
  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 16px;
  left: 0px;
  padding-left: 5px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s; }

.input100:focus + .focus-input100::after {
  top: -15px;
  color: #50dae5; }

.input100:focus + .focus-input100::before {
  width: 100%; }

.has-val.input100 + .focus-input100::after {
  top: -15px; }

.has-val.input100 + .focus-input100::before {
  width: 100%; }

.btn-login {
  background-color: #bf2957;
  display: inline-block;
  padding: 0.62rem;
  font-weight: 200;
  text-decoration: none;
  text-align: center;
  color: #fff;
  font-size: 70%;
  width: 100%; }

input {
  outline: none;
  border: none; }

input:focus {
  border-color: transparent !important; }

.signup-container {
  display: flex;
  justify-content: space-around;
  margin: 6rem 12rem; }
  .signup-container .signup-text-box > * {
    margin-bottom: 1rem; }

/*------------------------------------------------------------------
[ Form ]*/
.signup-form {
  width: 50%; }

/*------------------------------------------------------------------
[ Input ]*/
.wrap-input100 {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #adadad;
  margin-bottom: 37px; }

.input100 {
  font-size: 15px;
  color: #555555;
  line-height: 1.2;
  display: block;
  width: 100%;
  height: 45px;
  background: transparent;
  padding: 0 5px; }

/*---------------------------------------------*/
.focus-input100 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none; }

.focus-input100::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  background: #50dae5;
  background: -webkit-linear-gradient(left, #50dae5);
  background: -o-linear-gradient(left, #50dae5);
  background: -moz-linear-gradient(left, #50dae5);
  background: linear-gradient(left, #50dae5); }

.focus-input100::after {
  font-size: 15px;
  color: #999999;
  line-height: 1.2;
  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 16px;
  left: 0px;
  padding-left: 5px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s; }

.input100:focus + .focus-input100::after {
  top: -15px;
  color: #50dae5; }

.input100:focus + .focus-input100::before {
  width: 100%; }

.has-val.input100 + .focus-input100::after {
  top: -15px; }

.has-val.input100 + .focus-input100::before {
  width: 100%; }

.btn-signup {
  background-color: #bf2957;
  display: inline-block;
  padding: 0.62rem;
  font-weight: 200;
  text-decoration: none;
  text-align: center;
  color: #fff;
  font-size: 70%;
  width: 100%; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  background-color: #ffffff;
  color: black;
  font-family: 'Dosis', 'Arial', 'sans-serif';
  font-size: 20px;
  font-weight: 300; }

.container {
  max-width: 114rem;
  margin: 0 auto; }

header {
  box-shadow: 0px 8px 6px #eee;
  color: #787677;
  font-weight: 600; }

.navigation {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 5rem;
  align-items: center;
  margin: auto 6rem; }
  .navigation a {
    text-decoration: none;
    color: inherit; }
  .navigation .navbar {
    display: flex;
    list-style: none;
    flex: 0 0 55%; }
    .navigation .navbar li {
      font-size: 85%; }
    .navigation .navbar li:first-child {
      padding-right: 1.5rem; }
    .navigation .navbar li:first-child,
    .navigation .navbar li:last-child {
      margin-top: 2rem; }
  .navigation .action-buttons {
    position: absolute;
    right: 0;
    top: 0.25rem;
    font-size: 70%; }
    .navigation .action-buttons .btn-signin {
      padding-right: 6px; }
  .navigation .cart {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    margin-top: 2rem;
    width: 6rem;
    background-color: #eee; }
    .navigation .cart .cart-icon {
      fill: #bf2957;
      height: 2rem;
      width: 2rem; }
    .navigation .cart .items-in-cart {
      font-size: 80%; }

.logo {
  height: 3.25rem;
  cursor: pointer; }

footer {
  background-color: #eee;
  color: black;
  padding: 30px;
  font-size: 80%;
  text-align: center; }
