<div class="login-container">
  <div class="login-text-box">
    <h3>Login</h3>
    <p class="login-msg">Get access to your Orders, Wishlist and Recommendations</p>
  </div>
  <form class="login-form">
    <div class="input-wrapper">
      <input id="login_email" class="input-field" type="email" name="email">
      <span class="focus-input" data-placeholder="Email"></span>
    </div>
    <div class="input-wrapper">
      <input id="login_pass" class="input-field" type="password" name="pass">
      <span class="focus-input" data-placeholder="Password"></span>
    </div>
    <button id="login_submit_btn" type="submit" class="btn btn-login" formaction="/#/">Login</button>
  </form>
</div>