.content-container {
  display: flex;
  margin: 0 6rem;
}

.sidebar {
  background-color: $color-grey-light;
  .navbar {
    font-size: 80%;
    list-style: none;
    .nav-item {
      columns: $color-grey-dark;
      border-bottom: 1px solid $color-grey-dark;
    }
    .nav-item-link:link,
    .nav-item-link:visited {
      padding: 10px 20px;
      text-decoration: none;
      color: $color-grey-dark;
      display: block;
    }
    .nav-item-link:hover,
    .nav-item-link:active {
      width: 100%;
      color: #ffffff;
      background-color: $color-grey-dark;
    }
  }
}

.topbar { display: none; }

.products-container {
  flex: 1;
  .products-showcase {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 10%;
    list-style: none;
    width: 100%;
    li {
      width: 25%;
      padding: 20px;
      padding-bottom: 10px;
      box-shadow: 0px 8px 6px $color-grey-light;
    }
    h4 {
      min-height: 80px;
      margin-top: 10px;
    }
    p {
      max-height: 90px;
      font-size: 80%;
      padding: 5px;
      overflow: hidden;
      background-color: $color-grey-light;
    }

    .product-photo {
      margin: 10px 0;
      img {
        max-width: 100%;
      }
    }

    .mrp-buy-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 75%;
      padding-top: 10px;

      .btn-buy-now {
        background-color: $color-theme;
        display: inline-block;
        padding: 0.5rem;
        font-weight: 200;
        text-decoration: none;
        color: #fff;
        font-size: 80%;
        text-align: center;
        width: 50%;
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .content-container {
    .products-container {
      .products-showcase {
        li {
          width: 50%;
          .product-box {
            display: flex;
            .product-photo, p {
              flex-basis: 50%;
              img { max-width: 100%; }
            }
            p { max-height: 100px; }
          }
        }
        .mrp-buy-wrapper {
          span { display: none; }
          .btn-buy-now { width: 100%; }
          .btn-buy-now::after {
            content: attr(data-mrp)
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .content-container {
    display: block;
    .sidebar { display: none; }
    .topbar {
      display: block;
      .navbar {
        min-width: 100%;
        min-height: 50px;
        border: none;
        font-size: 100%;
        font-family: inherit;
        padding: 10px;
        .nav-item {
          background-color: #fff;
          color: #000;
        }
      }
      .navbar.selected {
        background-color: $color-theme;
        color: #fff;
      }
      .nav-item-link:link,
      .nav-item-link:visited {
        background-color: #fff;
        color: $color-theme;
      }
      .nav-item-link:hover,
      .nav-item-link:active {
        background-color: $color-theme;
        color: #fff;
      }
    }
    .products-container {
      .products-showcase li {
          width: 100%;
        }
        .mrp-buy-wrapper {
          span { display: none; }
          .btn-buy-now { width: 100%; }
          .btn-buy-now::after {
            content: attr(data-mrp)
          }
        }
      }
    }
}
