.home-container {
  margin: 0 7rem;
  margin-top: 2rem;
}

.bannerSlides {
  display: none;
  img { width:100%; }
}

/************ Slideshow container *************/
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
  box-shadow: 0 2px 2px #efefef;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: $color-grey-dark;
  border: none;
  opacity: 0.4;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  color: $color-white;
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.carousal {
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%,-75%);
  list-style: none;

  li { display: inline-block; }
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    border: none;
  }

}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.category-listing {
  list-style: none;
  display: flex;
  flex-direction: column;
  color: black;
  margin: 0.5rem 0;
  padding: 0.4rem 0;

  .category-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px 0;
    box-shadow: 0 2px 2px $color-grey-light;

    .product-category {
      flex-basis: 40%;
      img {
        max-width: 100%;
      }
    }

    .category-detail {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
  
  }

  .btn-explore-category {
    background-color: $color-theme;
    display: inline-block;
    padding: 0.62rem;
    font-weight: 200;
    text-decoration: none;
    color: #fff;
    font-size: 65%;
  }

  .category-detail {
    text-align: center;
    > * {
      margin: 0.5rem 0;
      font-size: 75%;
    }
  }
}

.category-list:nth-child(even) {
  flex-direction: row-reverse;
}